.chart-data {
    width: 420px;
    height: 243px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
}
.chart-item {
    width: 36px;
    background: #fff;
}
.chart-max {
    background: $secondary;
}
.chart-bottom-bar {
    width: 420px;
    display: flex;
    justify-content: space-around;
    margin-left: 1px;
    margin-top: 16px;
    P {
        width: 36px;
    }
}